openapi: 3.0.2
info:
  contact:
    email: support@higallop.com
  description: "Data and insights APIs, webooks, and dashboards enabling businesses\
    \ to launch tokenized products in seconds."
  license:
    name: UNLICENSED
  termsOfService: https://higallop.com/terms/
  title: Gallop API
  version: 1.0.0
servers:
- url: https://api.prod.gallop.run/v1
tags:
- description: "Power your NFT products with Gallop’s queryable collection, token,\
    \ trait and wallet APIs."
  name: data
- description: "Sales, pricing, performance, and marketplace data, all in one place\
    \ with low latency."
  name: analytics
- description: "Recommendation, appraisal, discovery, and fraud tools to supercharge\
    \ NFT applications."
  name: insights
paths:
  /data/eth/getCollections:
    post:
      description: Returns all Gallop aggregated collections
      operationId: getEthCollections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getEthCollections_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 55
                  total_pages: 5
                  page: 1
                  collections:
                  - collection_name: 0N1 Force
                    symbol: 0N1
                    collection_address: 0x3bf2922f4520a8ba0c2efc3d2a1539678dad5e9d
                  - collection_name: 3Landers
                    symbol: 3L
                    collection_address: 0xb4d06d46a8285f4ec79fd294f78a881799d8ced9
                  - collection_name: Acclimated​MoonCats
                    symbol: 😺
                    collection_address: 0xc3f733ca98e0dad0386979eb96fb1722a1a05e69
                  - collection_name: Adam Bomb Squad
                    symbol: ABS
                    collection_address: 0x7ab2352b1d2e185560494d5e577f9d3c238b78c5
                  - collection_name: ALIENFRENS
                    symbol: ALIENFRENS
                    collection_address: 0x123b30e25973fecd8354dd5f41cc45a3065ef88c
                  - collection_name: ALPACADABRAZ
                    symbol: PACA
                    collection_address: 0x3db5463a9e2d04334192c6f2dd4b72def4751a61
                  - collection_name: Animetas
                    symbol: ANMT
                    collection_address: 0x18df6c571f6fe9283b87f910e41dc5c8b77b7da5
                  - collection_name: Anonymice
                    symbol: MICE
                    collection_address: 0xbad6186e92002e312078b5a1dafd5ddf63d3f731
                  - collection_name: apekidsclub
                    symbol: AKC
                    collection_address: 0x9bf252f97891b907f002f2887eff9246e3054080
                  - collection_name: Art Blocks
                    symbol: BLOCKS
                    collection_address: 0xa7d8d9ef8d8ce8992df33d8b8cf4aebabd5bd270
                  - collection_name: ASMAIFAAllStarsBoxSet
                    symbol: AIFABOX
                    collection_address: 0x26437d312fb36bdd7ac9f322a6d4ccfe0c4fa313
                  - collection_name: Autoglyphs
                    symbol: ☵
                    collection_address: 0xd4e4078ca3495de5b1d4db434bebc5a986197782
                  - collection_name: Azuki
                    symbol: AZUKI
                    collection_address: 0xed5af388653567af2f388e6224dc7c4b3241c544
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Aggregated Collections Supported by Gallop
      tags:
      - Ethereum
  /data/eth/getTokens:
    post:
      description: Returns all tokens for a given collection
      operationId: getEthTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getEthTokens_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 1000
                  total_pages: 100
                  page: 1
                  collection_address: 0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb
                  collection_name: CRYPTOPUNKS
                  tokens:
                  - token_id: "0"
                    token_name: CryptoPunk 0
                    collection_address: 0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb
                    description: null
                    collection_uri: https://larvalabs.com/
                    image_uri: https://larvalabs.com/cryptopunks/details/0
                    attributes:
                    - value: Female
                      trait_type: body_type
                    - value:
                      - Green Eye Shadow
                      - Earring
                      - Blonde Bob
                      trait_type: accessories
                  - token_id: "1"
                    token_name: CryptoPunk 1
                    collection_address: 0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb
                    description: null
                    collection_uri: https://larvalabs.com/
                    image_uri: https://larvalabs.com/cryptopunks/details/1
                    attributes:
                    - value: Male
                      trait_type: body_type
                    - value:
                      - Smile
                      - Mohawk
                      trait_type: accessories
                  - token_id: "2"
                    token_name: CryptoPunk 2
                    collection_address: 0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb
                    description: null
                    collection_uri: https://larvalabs.com/
                    image_uri: https://larvalabs.com/cryptopunks/details/2
                    attributes:
                    - value: Female
                      trait_type: body_type
                    - value:
                      - Wild Hair
                      trait_type: accessories
                  - token_id: "3"
                    token_name: CryptoPunk 3
                    collection_address: 0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb
                    description: null
                    collection_uri: https://larvalabs.com/
                    image_uri: https://larvalabs.com/cryptopunks/details/3
                    attributes:
                    - value: Male
                      trait_type: body_type
                    - value:
                      - Wild Hair
                      - Nerd Glasses
                      - Pipe
                      trait_type: accessories
                  - token_id: "4"
                    token_name: CryptoPunk 4
                    collection_address: 0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb
                    description: null
                    collection_uri: https://larvalabs.com/
                    image_uri: https://larvalabs.com/cryptopunks/details/4
                    attributes:
                    - value: Male
                      trait_type: body_type
                    - value:
                      - Big Shades
                      - Wild Hair
                      - Earring
                      - Goat
                      trait_type: accessories
                  - token_id: "5"
                    token_name: CryptoPunk 5
                    collection_address: 0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb
                    description: null
                    collection_uri: https://larvalabs.com/
                    image_uri: https://larvalabs.com/cryptopunks/details/5
                    attributes:
                    - value: Female
                      trait_type: body_type
                    - value:
                      - Purple Eye Shadow
                      - Half Shaved
                      - Earring
                      trait_type: accessories
                  - token_id: "6"
                    token_name: CryptoPunk 6
                    collection_address: 0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb
                    description: null
                    collection_uri: https://larvalabs.com/
                    image_uri: https://larvalabs.com/cryptopunks/details/6
                    attributes:
                    - value: Male
                      trait_type: body_type
                    - value:
                      - Do-rag
                      trait_type: accessories
                  - token_id: "7"
                    token_name: CryptoPunk 7
                    collection_address: 0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb
                    description: null
                    collection_uri: https://larvalabs.com/
                    image_uri: https://larvalabs.com/cryptopunks/details/7
                    attributes:
                    - value: Female
                      trait_type: body_type
                    - value:
                      - Wild White Hair
                      - Spots
                      - Clown Eyes Blue
                      trait_type: accessories
                  - token_id: "8"
                    token_name: CryptoPunk 8
                    collection_address: 0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb
                    description: null
                    collection_uri: https://larvalabs.com/
                    image_uri: https://larvalabs.com/cryptopunks/details/8
                    attributes:
                    - value: Male
                      trait_type: body_type
                    - value:
                      - Messy Hair
                      - Luxurious Beard
                      trait_type: accessories
                  - token_id: "9"
                    token_name: CryptoPunk 9
                    collection_address: 0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb
                    description: null
                    collection_uri: https://larvalabs.com/
                    image_uri: https://larvalabs.com/cryptopunks/details/9
                    attributes:
                    - value: Male
                      trait_type: body_type
                    - value:
                      - Clown Nose
                      - Police Cap
                      - Big Beard
                      trait_type: accessories
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Tokens by Collection
      tags:
      - Ethereum
  /data/eth/getCollectionTransactions:
    post:
      description: Returns all transactions for a given collection
      operationId: getEthCollectionTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getEthCollectionTransactions_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 10
                  total_pages: 1
                  page: 1
                  collection_address: 0x3bf2922f4520a8ba0c2efc3d2a1539678dad5e9d
                  collection_name: 0N1 Force
                  transactions:
                  - token_id: "3031"
                    from_address: 0x0f08393a84a1ed49567accac1e5dd254096a09ce
                    to_address: 0xcbcc922ec77314d44b0be1a40e80a9b3ccf1fa6a
                    eth_value: 0.3
                    usd_value: 472.44
                    exchange: Opensea - Seaport
                    block_number: 15194253
                    block_timestamp: 2022-07-22T19:15:27.000Z
                    txn_hash: 0x6af8a8f4c067ff0fc44c0720a48fa5c903495de41e408e00bdb2358c4ce379fa
                    token_amount: 1
                  - token_id: "3670"
                    from_address: 0xf9d57e1402676e7074048a470632c624801e629d
                    to_address: 0x481775a1a694c31da312cd1b166e353151fe0579
                    eth_value: 0.547
                    usd_value: 859.56
                    exchange: Opensea - Seaport
                    block_number: 15194146
                    block_timestamp: 2022-07-22T18:52:47.000Z
                    txn_hash: 0x1355e52a87474a0b52892b11620affcfb2186a320c1f51e208d0b081f84b86b3
                    token_amount: 1
                  - token_id: "5340"
                    from_address: 0xb16b295c3e174e650660e74b5ec4abe44c29849b
                    to_address: 0x7fbbfd78ecd145a3312396ee97a8ed36346669d5
                    eth_value: 0.299
                    usd_value: 477.11
                    exchange: Opensea - Seaport
                    block_number: 15190891
                    block_timestamp: 2022-07-22T06:57:19.000Z
                    txn_hash: 0xcb1bf0d5928c4ad7d6a8b5d53fc1315cd4aaf3e09892d32c8c51915eab9c1c5c
                    token_amount: 1
                  - token_id: "6592"
                    from_address: 0xffa7282b67f72edd50e37b68d3599aa3ff3a9fb8
                    to_address: 0x38daea6f17e4308b0da9647db9ca6d84a3a7e195
                    eth_value: 0.28
                    usd_value: 446.77
                    exchange: Opensea (through GemSwap - Seaport)
                    block_number: 15190871
                    block_timestamp: 2022-07-22T06:51:58.000Z
                    txn_hash: 0xb5c43cbd77f137933304f6a868c2385e71024272d01dec3ecd06590cde6a0040
                    token_amount: 1
                  - token_id: "1391"
                    from_address: 0x470af085d49c645e14a3c38b19b14af503b06ca6
                    to_address: 0x38daea6f17e4308b0da9647db9ca6d84a3a7e195
                    eth_value: 0.28
                    usd_value: 446.77
                    exchange: X2Y2 (through GemSwap)
                    block_number: 15190871
                    block_timestamp: 2022-07-22T06:51:58.000Z
                    txn_hash: 0xb5c43cbd77f137933304f6a868c2385e71024272d01dec3ecd06590cde6a0040
                    token_amount: 1
                  - token_id: "2345"
                    from_address: 0x73db901ff39f28d57da2c0c9b358dbe2dd929f13
                    to_address: 0x86c994904dd138bdc8462ac06edd919ad70fe575
                    eth_value: 0.27
                    usd_value: 426.77
                    exchange: Opensea - Seaport
                    block_number: 15189526
                    block_timestamp: 2022-07-22T01:43:28.000Z
                    txn_hash: 0x1c1dc2ce614668806cbb368e6065bb97354c24aa4e2184f91cac43e2e9c40b55
                    token_amount: 1
                  - token_id: "5720"
                    from_address: 0x1dbf00bc3f40f551d79422a96367a6f58ae59412
                    to_address: 0x86c994904dd138bdc8462ac06edd919ad70fe575
                    eth_value: 0.269
                    usd_value: 425.19
                    exchange: Opensea - Seaport
                    block_number: 15189523
                    block_timestamp: 2022-07-22T01:43:03.000Z
                    txn_hash: 0x044c942d1941af19e53f72c451d4ed6650b634545fc9595f48fb7f040a29e3ba
                    token_amount: 1
                  - token_id: "6622"
                    from_address: 0x62ed759378160d283ff9c01660b3f55ca1c33e77
                    to_address: 0x5078cc37be18868620f25869e3d76bfcb9305516
                    eth_value: 0.2727
                    usd_value: 430.58
                    exchange: Opensea - Seaport
                    block_number: 15189149
                    block_timestamp: 2022-07-22T00:15:27.000Z
                    txn_hash: 0x1dbc262def552ff38cbf0cff7dd321d5e9aaac4fb9341ea4940775d6f7bb6c12
                    token_amount: 1
                  - token_id: "5720"
                    from_address: 0xbc52b1e8dab347c08130a722641e129bc5939ac5
                    to_address: 0x1dbf00bc3f40f551d79422a96367a6f58ae59412
                    eth_value: 0.23
                    usd_value: 362.1
                    exchange: Opensea - Seaport (Advanced)
                    block_number: 15189130
                    block_timestamp: 2022-07-22T00:10:42.000Z
                    txn_hash: 0xbd1fdf60b855f3f65a70a31cb0e300cc83b4c42fc39070cc11c8c33e7dcfd01b
                    token_amount: 1
                  - token_id: "6592"
                    from_address: 0x6188c2b2c93d100a6b8fdc89c2a2fcb91f5c6b3a
                    to_address: 0xffa7282b67f72edd50e37b68d3599aa3ff3a9fb8
                    eth_value: 0.2803
                    usd_value: 440.77
                    exchange: Opensea - Seaport
                    block_number: 15188831
                    block_timestamp: 2022-07-21T23:03:25.000Z
                    txn_hash: 0x7782406ecc8d0b127f05c33c7529bc96705059bb2001afd6fc4891c6fed83fa0
                    token_amount: 1
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Transactions by Collection
      tags:
      - Ethereum
  /data/eth/getTokenTransactions:
    post:
      description: Returns all transactions for a given token
      operationId: getEthTokenTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getEthTokenTransactions_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 6
                  total_pages: 1
                  page: 1
                  collection_address: 0x3bf2922f4520a8ba0c2efc3d2a1539678dad5e9d
                  collection_name: 0N1 Force
                  transactions:
                  - token_id: "6592"
                    from_address: 0xffa7282b67f72edd50e37b68d3599aa3ff3a9fb8
                    to_address: 0x38daea6f17e4308b0da9647db9ca6d84a3a7e195
                    eth_value: 0.28
                    usd_value: 446.77
                    exchange: Opensea (through GemSwap - Seaport)
                    block_number: 15190871
                    block_timestamp: 2022-07-22T06:51:58.000Z
                    txn_hash: 0xb5c43cbd77f137933304f6a868c2385e71024272d01dec3ecd06590cde6a0040
                    token_amount: 1
                  - token_id: "6592"
                    from_address: 0x6188c2b2c93d100a6b8fdc89c2a2fcb91f5c6b3a
                    to_address: 0xffa7282b67f72edd50e37b68d3599aa3ff3a9fb8
                    eth_value: 0.2803
                    usd_value: 440.77
                    exchange: Opensea - Seaport
                    block_number: 15188831
                    block_timestamp: 2022-07-21T23:03:25.000Z
                    txn_hash: 0x7782406ecc8d0b127f05c33c7529bc96705059bb2001afd6fc4891c6fed83fa0
                    token_amount: 1
                  - token_id: "6592"
                    from_address: 0x85862ddd323e215e70dd4dd161b0c9f81d402c2a
                    to_address: 0x6188c2b2c93d100a6b8fdc89c2a2fcb91f5c6b3a
                    eth_value: 0.68
                    usd_value: 1931.45
                    exchange: Opensea
                    block_number: 14703310
                    block_timestamp: 2022-05-03T07:27:34.000Z
                    txn_hash: 0x1576e3ed5cb5725f3c29484c9a94be27aa7aacd11f47a014ef76d15f6081edfc
                    token_amount: 1
                  - token_id: "6592"
                    from_address: 0x13b3a50f3947476eda74fe191344524e2d2d28e5
                    to_address: 0x85862ddd323e215e70dd4dd161b0c9f81d402c2a
                    eth_value: 2.8
                    usd_value: 9371.36
                    exchange: Opensea
                    block_number: 14011619
                    block_timestamp: 2022-01-15T18:24:13.000Z
                    txn_hash: 0x043482303c6d0b69047eb8dfd54dc86a7cc595a0e8ad12406e21e256dae7bb0a
                    token_amount: 1
                  - token_id: "6592"
                    from_address: 0xcfa66e92f4070a6d80cd45f4738afa5ab6e62519
                    to_address: 0x13b3a50f3947476eda74fe191344524e2d2d28e5
                    eth_value: 3.5
                    usd_value: 11727.45
                    exchange: Opensea
                    block_number: 13258687
                    block_timestamp: 2021-09-19T21:40:26.000Z
                    txn_hash: 0xeb1308bc628c2451574d0b281366d8755706f7f8e297f6f2179ad9a05e0bc1b1
                    token_amount: 1
                  - token_id: "6592"
                    from_address: 0x07c5ea539a54318780655b7a74fc379f3f37c7a6
                    to_address: 0xcfa66e92f4070a6d80cd45f4738afa5ab6e62519
                    eth_value: 0.5199
                    usd_value: 1661.84
                    exchange: Opensea
                    block_number: 13061167
                    block_timestamp: 2021-08-20T08:55:04.000Z
                    txn_hash: 0x8c6ca2c88ad4d2cecfafd9baf9b9950c69a786e500dc8c03c978b238d12fb72d
                    token_amount: 1
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Transactions by Token
      tags:
      - Ethereum
  /data/eth/getMarketplaceData:
    post:
      description: Returns summary statistics for a collection by marketplace
      operationId: getEthMarketplaceData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getEthMarketplaceData_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                - collection_address: 0xa7d8d9ef8d8ce8992df33d8b8cf4aebabd5bd270
                  marketplaces:
                  - marketplace: OpenSea
                    updated_at: 2022-10-06T18:33:05.291
                    stats_summary:
                      one_hour_volume: 0
                      one_hour_change: 0
                      one_hour_sales: 0
                      one_hour_sales_change: 0
                      one_hour_average_price: 0
                      one_hour_difference: 0
                      six_hour_volume: 0
                      six_hour_change: 0
                      six_hour_sales: 0
                      six_hour_sales_change: 0
                      six_hour_average_price: 0
                      six_hour_difference: 0
                      one_day_volume: 0
                      one_day_change: -1
                      one_day_sales: 0
                      one_day_sales_change: 0
                      one_day_average_price: 0
                      one_day_difference: -1.503
                      seven_day_volume: 1.503
                      seven_day_change: -0.7052941176470588
                      seven_day_sales: 1
                      seven_day_average_price: 1.503
                      seven_day_difference: -3.5969999999999995
                      thirty_day_volume: 9.933
                      thirty_day_change: -0.3958029197080293
                      thirty_day_sales: 4
                      thirty_day_average_price: 2.48325
                      thirty_day_difference: -6.5070000000000014
                      total_volume: 1782.9105364414277
                      total_sales: 749
                      total_supply: 512
                      count: 512
                      num_owners: 250
                      average_price: 2.380387899120731
                      num_reports: 5
                      market_cap: 769.536
                      floor_price: 2.65
                  - marketplace: X2Y2
                    updated_at: 2022-10-13T16:17:52.046Z
                    stats_summary:
                      floor_price: 0.04
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Collection Summary by Marketplace
      tags:
      - Ethereum
  /data/eth/getMarketplaceTraitData:
    post:
      description: Returns listing statistics for a collection by trait and marketplace
      operationId: getEthMarketplaceTraitData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getEthMarketplaceTraitData_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  collection_address: 0x09233d553058c2f42ba751c87816a8e9fae7ef10
                  marketplaces:
                  - marketplace: OpenSea
                    attributes:
                    - attribute: Face
                      traits:
                      - trait: Big Eyes
                        updated_at: 2022-10-21T00:18:29.156Z
                        listed_items: 6
                        unique_owners: 6
                        floor_price: 1.035
                      - trait: Blue Laser Eyes
                        updated_at: 2022-10-21T00:18:29.171Z
                        listed_items: 2
                        unique_owners: 2
                        floor_price: 6
                      - trait: Blue Laser Eyes Gold Teeth
                        updated_at: 2022-10-21T00:18:29.187Z
                        listed_items: 1
                        unique_owners: 1
                        floor_price: 10
                    - attribute: Faction
                      traits:
                      - trait: Bunners
                        updated_at: 2022-10-21T00:18:28.889Z
                        listed_items: 4
                        unique_owners: 4
                        floor_price: 1.05
                      - trait: Cypher Buns
                        updated_at: 2022-10-21T00:18:28.892Z
                        listed_items: 5
                        unique_owners: 4
                        floor_price: 1.19
                      - trait: Hare Raisers
                        updated_at: 2022-10-21T00:18:28.895Z
                        listed_items: 11
                        unique_owners: 9
                        floor_price: 1.035
                    - attribute: Fur
                      traits:
                      - trait: Bar Fight Seafoam
                        updated_at: 2022-10-21T00:18:28.917Z
                        listed_items: 1
                        unique_owners: 1
                        floor_price: 3
                      - trait: Bar Fight Silver
                        updated_at: 2022-10-21T00:18:29.070Z
                        listed_items: 1
                        unique_owners: 1
                        floor_price: 14
                      - trait: Bar Fight Yellow
                        updated_at: 2022-10-21T00:18:29.012Z
                        listed_items: 1
                        unique_owners: 1
                        floor_price: 2.68
                  - marketplace: X2Y2
                    attributes: []
                  - marketplace: Larvalabs
                    attributes: []
                  - marketplace: Crytposlam
                    attributes: []
                  - marketplace: LooksRare
                    attributes: []
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Collection Listings by Trait & Marketplace
      tags:
      - Ethereum
  /data/eth/getWalletNFTs:
    post:
      description: Returns all tokens owned for a given wallet
      operationId: getEthWalletNFTs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getEthWalletNFTs_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                - token_id: "5324"
                  collection_name: CrazySkullz
                  collection_address: 0x3a4cA1c1bB243D299032753fdd75e8FEc1F0d585
                  image_url: https://ipfs.io/ipfs/QmbgnNyjov98LjEZYD3Un3fgomaWV4YUpnLfBdqdu5GEMB/CrazySkull%235325.jpg
                  traits:
                  - type: Accessory
                    value: Fruit Ice Cream
                  - type: Background
                    value: Red
                  - type: Eyes
                    value: Hazel Eyes
                  - type: Head
                    value: Green Stripes Beanie
                  - type: Main Skull
                    value: Gold Evil Skull
                  - type: Mustache
                    value: None
                  - type: Sunglasses
                    value: None
                - token_id: "1534"
                  collection_name: MineNationsNFT
                  collection_address: 0x5B97353bB450c2CC0D91C681bf6102166A7465C9
                  image_url: null
                  traits: []
          description: An object containing the tokens owned by this wallet
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Tokens Owned by Wallet
      tags:
      - Ethereum
  /data/eth/getWalletTransactions:
    post:
      description: Returns all historical token transactions for a given wallet
      operationId: getEthWalletTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getEthWalletTransactions_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 3
                  total_pages: 1
                  page: 1
                  transactions:
                  - collection_address: 0x3bf2922f4520a8ba0c2efc3d2a1539678dad5e9d
                    collection_name: 0N1 Force
                    token_id: "3031"
                    from_address: 0x0f08393a84a1ed49567accac1e5dd254096a09ce
                    to_address: 0xcbcc922ec77314d44b0be1a40e80a9b3ccf1fa6a
                    eth_value: 0.3
                    usd_value: 472.44
                    exchange: Opensea - Seaport
                    block_number: 15194253
                    block_timestamp: 2022-07-22T19:15:27.000Z
                    txn_hash: 0x6af8a8f4c067ff0fc44c0720a48fa5c903495de41e408e00bdb2358c4ce379fa
                    token_amount: 1
                  - collection_address: 0x3a8778a58993ba4b941f85684d74750043a4bb5f
                    collection_name: BullsOnTheBlock
                    token_id: "9063"
                    from_address: 0xc1f6770d736895894807dc95dcd9cbca766a7da1
                    to_address: 0xcbcc922ec77314d44b0be1a40e80a9b3ccf1fa6a
                    eth_value: 0.36
                    usd_value: 1226.6
                    exchange: Opensea
                    block_number: 13354749
                    block_timestamp: 2021-10-04T20:25:23.000Z
                    txn_hash: 0x28715ee6f17ad937ea50d4a8807b772b3aa6aa1e20d6d5dc8d66ccf297b5d59c
                    token_amount: 1
                  - collection_address: 0xa08126f5e1ed91a635987071e6ff5eb2aeb67c48
                    collection_name: GalaxyEggs
                    token_id: "7270"
                    from_address: 0x03bfa058dd733ae9edd88939366322496ecb5291
                    to_address: 0xcbcc922ec77314d44b0be1a40e80a9b3ccf1fa6a
                    eth_value: 0.715
                    usd_value: 2539.9
                    exchange: Opensea
                    block_number: 13232393
                    block_timestamp: 2021-09-15T20:13:46.000Z
                    txn_hash: 0xff9e32d967659a28daa92c85714bd0ec786799e8f48f591038b96594330e73e8
                    token_amount: 1
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Historical Token Transactions by Wallet
      tags:
      - Ethereum
  /data/eth/getHistoricalTransactions:
    post:
      description: Returns all transactions for a given collection in bulk
      operationId: getEthHistoricalTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getEthHistoricalTransactions_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 10
                  total_pages: 1
                  page: 1
                  collection_address: 0x3bf2922f4520a8ba0c2efc3d2a1539678dad5e9d
                  collection_name: 0N1 Force
                  token_id:
                  - "3031"
                  - "3670"
                  - "5340"
                  - "6592"
                  - "1391"
                  - "2345"
                  - "5720"
                  - "6622"
                  - "5720"
                  - "6592"
                  from_address:
                  - 0x0f08393a84a1ed49567accac1e5dd254096a09ce
                  - 0xf9d57e1402676e7074048a470632c624801e629d
                  - 0xb16b295c3e174e650660e74b5ec4abe44c29849b
                  - 0xffa7282b67f72edd50e37b68d3599aa3ff3a9fb8
                  - 0x470af085d49c645e14a3c38b19b14af503b06ca6
                  - 0x73db901ff39f28d57da2c0c9b358dbe2dd929f13
                  - 0x1dbf00bc3f40f551d79422a96367a6f58ae59412
                  - 0x62ed759378160d283ff9c01660b3f55ca1c33e77
                  - 0xbc52b1e8dab347c08130a722641e129bc5939ac5
                  - 0x6188c2b2c93d100a6b8fdc89c2a2fcb91f5c6b3a
                  to_address:
                  - 0xcbcc922ec77314d44b0be1a40e80a9b3ccf1fa6a
                  - 0x481775a1a694c31da312cd1b166e353151fe0579
                  - 0x7fbbfd78ecd145a3312396ee97a8ed36346669d5
                  - 0x38daea6f17e4308b0da9647db9ca6d84a3a7e195
                  - 0x38daea6f17e4308b0da9647db9ca6d84a3a7e195
                  - 0x86c994904dd138bdc8462ac06edd919ad70fe575
                  - 0x86c994904dd138bdc8462ac06edd919ad70fe575
                  - 0x5078cc37be18868620f25869e3d76bfcb9305516
                  - 0x1dbf00bc3f40f551d79422a96367a6f58ae59412
                  - 0xffa7282b67f72edd50e37b68d3599aa3ff3a9fb8
                  eth_value:
                  - 0.3
                  - 0.547
                  - 0.299
                  - 0.28
                  - 0.28
                  - 0.27
                  - 0.269
                  - 0.2727
                  - 0.23
                  - 0.2803
                  usd_value:
                  - 472.44
                  - 859.56
                  - 477.11
                  - 446.77
                  - 446.77
                  - 426.77
                  - 425.19
                  - 430.58
                  - 362.1
                  - 440.77
                  exchange:
                  - Opensea - Seaport
                  - Opensea - Seaport
                  - Opensea - Seaport
                  - Opensea (through GemSwap - Seaport)
                  - X2Y2 (through GemSwap)
                  - Opensea - Seaport
                  - Opensea - Seaport
                  - Opensea - Seaport
                  - Opensea - Seaport (Advanced)
                  - Opensea - Seaport
                  block_number:
                  - 15194253
                  - 15194146
                  - 15190891
                  - 15190871
                  - 15190871
                  - 15189526
                  - 15189523
                  - 15189149
                  - 15189130
                  - 15188831
                  block_timestamp:
                  - 2022-07-22T19:15:27.000Z
                  - 2022-07-22T18:52:47.000Z
                  - 2022-07-22T06:57:19.000Z
                  - 2022-07-22T06:51:58.000Z
                  - 2022-07-22T06:51:58.000Z
                  - 2022-07-22T01:43:28.000Z
                  - 2022-07-22T01:43:03.000Z
                  - 2022-07-22T00:15:27.000Z
                  - 2022-07-22T00:10:42.000Z
                  - 2022-07-21T23:03:25.000Z
                  txn_hash:
                  - 0x6af8a8f4c067ff0fc44c0720a48fa5c903495de41e408e00bdb2358c4ce379fa
                  - 0x1355e52a87474a0b52892b11620affcfb2186a320c1f51e208d0b081f84b86b3
                  - 0xcb1bf0d5928c4ad7d6a8b5d53fc1315cd4aaf3e09892d32c8c51915eab9c1c5c
                  - 0xb5c43cbd77f137933304f6a868c2385e71024272d01dec3ecd06590cde6a0040
                  - 0xb5c43cbd77f137933304f6a868c2385e71024272d01dec3ecd06590cde6a0040
                  - 0x1c1dc2ce614668806cbb368e6065bb97354c24aa4e2184f91cac43e2e9c40b55
                  - 0x044c942d1941af19e53f72c451d4ed6650b634545fc9595f48fb7f040a29e3ba
                  - 0x1dbc262def552ff38cbf0cff7dd321d5e9aaac4fb9341ea4940775d6f7bb6c12
                  - 0xbd1fdf60b855f3f65a70a31cb0e300cc83b4c42fc39070cc11c8c33e7dcfd01b
                  - 0x7782406ecc8d0b127f05c33c7529bc96705059bb2001afd6fc4891c6fed83fa0
                  token_amount:
                  - 1
                  - 1
                  - 1
                  - 1
                  - 1
                  - 1
                  - 1
                  - 1
                  - 1
                  - 1
          description: An object of property arrays.
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Historical Transactions by Collection
      tags:
      - Ethereum
  /data/eth/getHistoricalEvents:
    post:
      description: Returns marketplace activity for a given collection
      operationId: getEthHistoricalEvents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getEthHistoricalEvents_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  collection_address: 0x3fe1a4c1481c8351e91b64d5c398b159de07cbc5
                  total_items: 10
                  total_pages: 1
                  page: 1
                  marketplaces:
                  - marketplace: OpenSea
                    events: []
                  - marketplace: X2Y2
                    events: []
                  - marketplace: Larvalabs
                    events: []
                  - marketplace: Crytposlam
                    events: []
                  - marketplace: LooksRare
                    events:
                    - token_id: "3202"
                      event_type: sale
                      from_address: 0x36f6a4b5d8d603eae8e67ce597ca508cd9db3e53
                      to_address: 0x29e44b41e191531b07d6b5cb9e03c3bece1373aa
                      eth_value: 0.207
                      event_date: 2022-10-30T13:58:47.000Z
                      start_date: 2022-10-29T16:02:34.000Z
                      end_date: 2022-11-28T16:00:51.000Z
                      event_id: "314831245"
                    - token_id: "3204"
                      event_type: sale
                      from_address: 0x36f6a4b5d8d603eae8e67ce597ca508cd9db3e53
                      to_address: 0x0e6f415fea396f980d8c21e5b738beba2f7d2f04
                      eth_value: 0.206
                      event_date: 2022-10-30T13:53:47.000Z
                      start_date: 2022-10-29T16:02:39.000Z
                      end_date: 2022-11-28T16:00:51.000Z
                      event_id: "314828251"
                    - token_id: "3196"
                      event_type: sale
                      from_address: 0x36f6a4b5d8d603eae8e67ce597ca508cd9db3e53
                      to_address: 0x0f97c4b0b7e2671562d115c0efa5951959e4cf08
                      eth_value: 0.205
                      event_date: 2022-10-30T13:50:11.000Z
                      start_date: 2022-10-29T16:02:43.000Z
                      end_date: 2022-11-28T16:00:51.000Z
                      event_id: "314825942"
                    - token_id: "3213"
                      event_type: sale
                      from_address: 0x36f6a4b5d8d603eae8e67ce597ca508cd9db3e53
                      to_address: 0xae9c73fd0fd237c1c6f66fe009d24ce969e98704
                      eth_value: 0.209
                      event_date: 2022-10-29T18:05:47.000Z
                      start_date: 2022-10-29T16:02:19.000Z
                      end_date: 2022-11-28T16:00:51.000Z
                      event_id: "313825620"
                    - token_id: "3187"
                      event_type: sale
                      from_address: 0x36f6a4b5d8d603eae8e67ce597ca508cd9db3e53
                      to_address: 0xae9c73fd0fd237c1c6f66fe009d24ce969e98704
                      eth_value: 0.204
                      event_date: 2022-10-29T18:05:47.000Z
                      start_date: 2022-10-29T16:02:47.000Z
                      end_date: 2022-11-28T16:00:51.000Z
                      event_id: "313825622"
                    - token_id: "3189"
                      event_type: sale
                      from_address: 0x36f6a4b5d8d603eae8e67ce597ca508cd9db3e53
                      to_address: 0xae9c73fd0fd237c1c6f66fe009d24ce969e98704
                      eth_value: 0.209
                      event_date: 2022-10-29T18:05:47.000Z
                      start_date: 2022-10-29T16:02:52.000Z
                      end_date: 2022-11-28T16:00:51.000Z
                      event_id: "313825619"
                    - token_id: "7975"
                      event_type: sale
                      from_address: 0x7c6a702f64e4d47a786dce96527123ec4d6e3343
                      to_address: 0x0000006f43b26ba724ae3ddb0c55536d64e5f985
                      eth_value: 0.1695314299422977
                      event_date: 2022-10-26T00:21:11.000Z
                      start_date: 2022-10-26T00:17:20.000Z
                      end_date: 2022-10-26T00:25:40.000Z
                      event_id: "309412762"
                    - token_id: "231"
                      event_type: sale
                      from_address: 0xbd9e27ded42cae43896551e345b650763f6c82db
                      to_address: 0x0000000009cb38fb8a1bbb8ada23c8261118f019
                      eth_value: 0.15
                      event_date: 2022-08-21T23:17:43.000Z
                      start_date: 2022-08-20T19:40:39.000Z
                      end_date: 2022-09-18T09:46:41.000Z
                      event_id: "250634532"
                    - token_id: "4789"
                      event_type: sale
                      from_address: 0xbd9e27ded42cae43896551e345b650763f6c82db
                      to_address: 0x83c8f28c26bf6aaca652df1dbbe0e1b56f8baba2
                      eth_value: 0.18
                      event_date: 2022-08-21T23:17:16.000Z
                      start_date: 2022-08-20T19:41:10.000Z
                      end_date: 2022-09-18T09:51:22.000Z
                      event_id: "250634503"
                    - token_id: "2868"
                      event_type: sale
                      from_address: 0x6d660980b00c3405c2dec173cf2259b15572b9b5
                      to_address: 0x3cd5e03183e5880d5c0aba46a259fcad91e9b7f7
                      eth_value: 0.129
                      event_date: 2022-08-21T05:07:13.000Z
                      start_date: 2022-08-20T21:13:52.000Z
                      end_date: 2022-08-21T21:13:48.000Z
                      event_id: "250050462"
                    collection_id: 0x3fe1a4c1481c8351e91b64d5c398b159de07cbc5
          description: An object of property arrays.
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Marketplace Activity by Collection
      tags:
      - Ethereum
  /data/eth/getCollectionOwners:
    post:
      description: Returns all wallet owners for a given collection
      operationId: getEthCollectionOwners
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getEthCollectionOwners_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 10
                  total_pages: 1
                  page: 1
                  collection_address: 0x4f8730e0b32b04beaa5757e5aea3aef970e5b613
                  collection_name: Bloot
                  owners:
                  - token_id: "1"
                    wallet_address: 0x580a96bc816c2324bdff5eb2a7e159ae7ee63022
                  - token_id: "2"
                    wallet_address: 0x88db9217b2ea48c2b2446f42fcc9f541077d720b
                  - token_id: "3"
                    wallet_address: 0x88db9217b2ea48c2b2446f42fcc9f541077d720b
                  - token_id: "4"
                    wallet_address: 0x56879cc88fa3895c082c22035db1386dcac53bba
                  - token_id: "5"
                    wallet_address: 0x56879cc88fa3895c082c22035db1386dcac53bba
                  - token_id: "6"
                    wallet_address: 0xfb4eb570807e0e275b3e1dd14f1074a0e1cd5a2a
                  - token_id: "7"
                    wallet_address: 0x56879cc88fa3895c082c22035db1386dcac53bba
                  - token_id: "8"
                    wallet_address: 0x56879cc88fa3895c082c22035db1386dcac53bba
                  - token_id: "9"
                    wallet_address: 0x182a36ad47ea21d96d864080b7baceda7ce44019
                  - token_id: "10"
                    wallet_address: 0x792a623d269e6c5815d8a715d563985791353ae7
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Wallet Owners by Collection
      tags:
      - Ethereum
  /data/eth/getMarketplaceFloorPrice:
    post:
      description: Returns current floor price for all collections by marketplace
      operationId: getEthMarketplaceFloorPrice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getEthMarketplaceFloorPrice_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 3
                  total_pages: 1
                  page: 1
                  collections:
                  - collection_address: 0x00000000001ba87a34f0d3224286643b36646d81
                    marketplaces:
                    - updated_at: 2022-12-02T01:11:47.284
                      floor_price: 0.001
                      marketplace: Blur
                      collection_id: dungeonized
                      sub_collection_tag: ""
                  - collection_address: 0x0000000005756b5a03e751bd0280e3a55bc05b6e
                    marketplaces:
                    - updated_at: 2022-12-02T01:02:49.62
                      floor_price: 0.0389
                      marketplace: Blur
                      collection_id: villagers-of-xolo
                      sub_collection_tag: ""
                    - updated_at: 2023-01-16T10:11:21.348
                      floor_price: 0.0499
                      marketplace: LooksRare
                      collection_id: 0x0000000005756b5a03e751bd0280e3a55bc05b6e
                      sub_collection_tag: ""
                  - collection_address: 0x0000000007927ce78919a6fbd7c200ed3eaefcec
                    marketplaces:
                    - updated_at: 2023-01-16T08:31:50.088
                      floor_price: 0.069
                      marketplace: LooksRare
                      collection_id: 0x0000000007927ce78919a6fbd7c200ed3eaefcec
                      sub_collection_tag: ""
                    - updated_at: 2022-11-28T20:26:10.687
                      floor_price: 0.069
                      marketplace: X2Y2
                      collection_id: dejavoxcrapauds
                      sub_collection_tag: ""
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Marketplace Floor Price by Collection
      tags:
      - Ethereum
  /data/eth/getEnsLookup:
    post:
      description: Returns Ethereum Name Service data for a given wallet address
      operationId: getEthEnsLookup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getEthEnsLookup_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 3
                  total_pages: 1
                  page: 1
                  lookup:
                  - ens_name: cindygallop.eth
                    resolved_wallet_address: 0x03c609ad0c5f4d2b4b45329c879d01627ed044cf
                    ens_nft_owner: 0x03c609ad0c5f4d2b4b45329c879d01627ed044cf
                    ens_nft_token_id: "15517810867275400792454974873230676112786452149196343826542998772289206021344"
                    on_chain_metadata: null
                  - ens_name: cybergallops.eth
                    resolved_wallet_address: 0xba2948f1fa6d88dac687f1ca8292a80c97001c88
                    ens_nft_owner: 0xba2948f1fa6d88dac687f1ca8292a80c97001c88
                    ens_nft_token_id: "8916934475999199779246118723595166231735896975510756527098834487350471780471"
                    on_chain_metadata: null
                  - ens_name: gallop.eth
                    resolved_wallet_address: 0xe68e8cc7ff772b026c062b9cc28246676d044947
                    ens_nft_owner: 0x7c76b0b0b6a5144d48c7ae23f5d91712cb8354b4
                    ens_nft_token_id: "57055706468227773033118122077897942881246437083110876111525719177787586052276"
                    on_chain_metadata: null
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: ENS Lookup
      tags:
      - Ethereum
  /data/sol/getCollections:
    post:
      description: Returns all Gallop aggregated collections
      operationId: getSolCollections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getSolCollections_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 3
                  total_pages: 1
                  page: 1
                  collections:
                  - collection_name: Aurory
                    collection_tag: aurory
                    collection_address: 7BQdHnBKERaCYCnwLbbSoYHQZxcq7zLenYERDp94o18z
                  - collection_name: Degenerate Ape Academy
                    collection_tag: degenape
                    collection_address: DSwfRF1jhhu6HpSuzaig1G19kzP73PfLZBPLofkw6fLD
                  - collection_name: Degen Dojo
                    collection_tag: degendojo
                    collection_address: null
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Aggregated Collections Supported by Gallop
      tags:
      - Solana
  /data/sol/getTokens:
    post:
      description: Returns all tokens for a given collection
      operationId: getSolTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getSolTokens_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 1
                  total_pages: 1
                  page: 1
                  tokens:
                  - mint_address: BaMVLQJzs5wiq7Q9pKFBtD7unfWD4EEcAp52aVFV3Bhw
                    token_name: "Degen Ape #1"
                    collection_name: Degenerate Ape Academy
                    collection_tag: degenape
                    symbol: DAPE
                    token_uri: https://arweave.net/KpKbswk6xSV2vOmAoWJxtoNPzOICKoCmUfH09rMNMsg
                    owner_address: 1BWutmTvYPwDtmw9abTkS4Ssr8no61spGAvW1X6NDix
                    token_account_address: HRyHzToZ34CC1iuTncE3XB9BN4GDxNxCdky32W2NPCRT
                    update_authority: DC2mkgwhy56w3viNtHDjJQmc7SGu2QX785bS4aexojwX
                    on_chain_metadata:
                      key: 4
                      data:
                        uri: https://arweave.net/KpKbswk6xSV2vOmAoWJxtoNPzOICKoCmUfH09rMNMsg
                        name: "Degen Ape #1"
                        symbol: DAPE
                        creators:
                        - share: 39
                          address: 9BKWqDHfHZh9j39xakYVMdr6hXmCLHH5VfCpeq2idU9L
                          verified: 0
                        - share: 25
                          address: 9FYsKrNuEweb55Wa2jaj8wTKYDBvuCG3huhakEj96iN9
                          verified: 0
                        - share: 25
                          address: HNGVuL5kqjDehw7KR63w9gxow32sX6xzRNgLb8GkbwCM
                          verified: 0
                        - share: 10
                          address: 7FzXBBPjzrNJbm9MrZKZcyvP3ojVeYPUG2XkBPVZvuBu
                          verified: 0
                        - share: 1
                          address: DC2mkgwhy56w3viNtHDjJQmc7SGu2QX785bS4aexojwX
                          verified: 1
                        sellerFeeBasisPoints: 420
                      mint: BaMVLQJzs5wiq7Q9pKFBtD7unfWD4EEcAp52aVFV3Bhw
                      isMutable: 0
                      collection:
                        key: DSwfRF1jhhu6HpSuzaig1G19kzP73PfLZBPLofkw6fLD
                        verified: 1
                      editionNonce: 253
                      updateAuthority: DC2mkgwhy56w3viNtHDjJQmc7SGu2QX785bS4aexojwX
                      primarySaleHappened: 1
                    off_chain_metadata:
                      name: "Degen Ape #1"
                      image: https://arweave.net/v3jwhUUPJtqt30e-8WmNNcukKJNfrszYeVlFZ-m4kDc
                      symbol: DAPE
                      edition: Class of 2021
                      attributes:
                      - value: Yellow
                        trait_type: Background
                      - value: Brown / Yellow
                        trait_type: Fur / Skin
                      - value: Fishing Hat
                        trait_type: Head
                      - value: Ape Force 1's
                        trait_type: Mouth
                      - value: No Traits
                        trait_type: Teeth
                      - value: Japanese Uniform
                        trait_type: Clothing
                      - value: No Traits
                        trait_type: Eyewear
                      - value: 1
                        trait_type: generation
                        display_type: number
                      - value: 1
                        trait_type: sequence
                        display_type: number
                      properties:
                        files:
                        - uri: https://arweave.net/v3jwhUUPJtqt30e-8WmNNcukKJNfrszYeVlFZ-m4kDc?ext=png
                          type: image/png
                        category: image
                        creators:
                        - share: 39
                          address: 9BKWqDHfHZh9j39xakYVMdr6hXmCLHH5VfCpeq2idU9L
                        - share: 25
                          address: 9FYsKrNuEweb55Wa2jaj8wTKYDBvuCG3huhakEj96iN9
                        - share: 25
                          address: HNGVuL5kqjDehw7KR63w9gxow32sX6xzRNgLb8GkbwCM
                        - share: 10
                          address: 7FzXBBPjzrNJbm9MrZKZcyvP3ojVeYPUG2XkBPVZvuBu
                        - share: 1
                          address: DC2mkgwhy56w3viNtHDjJQmc7SGu2QX785bS4aexojwX
                      description: "Deep in the heart of Dingus Forest echoes the\
                        \ sleepless cries of a troop of 10,000 apes. These aren’t\
                        \ just regular apes, however. These are degenerate apes."
                      external_url: ""
                      background_color: "000000"
                      seller_fee_basis_points: 420
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Tokens by Collection
      tags:
      - Solana
  /data/sol/getCollectionTransactions:
    post:
      description: Returns all transactions for a given collection
      operationId: getSolCollectionTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getSolCollectionTransactions_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 341585
                  total_pages: 3416
                  page: 1
                  transactions:
                  - mint_address: 44bHsaNyZrCRjvLorpTs2xehjA7RfKHtdhrEfSNqES1u
                    token_name: "Degen Ape #8203"
                    update_authority: DC2mkgwhy56w3viNtHDjJQmc7SGu2QX785bS4aexojwX
                    collection_name: Degenerate Ape Academy
                    collection_tag: degenape
                    first_signature: aiw9Z16CzdU1F44vXWqKQhLPL3xQguNHXNKdB9qGcc1SjUBRkFVms8LQUBwGjMbPcbZkDwPgAnNt5Bp2HB25yMk
                    currency_symbol: SOL
                    sol_value: 64.0063
                    usd_value: 5598.36
                    exchange: Magic Eden
                    block_number: 132188123
                    block_timestamp: 2022-05-02T16:08:51.000Z
                  - mint_address: DYL7wvjLVeWr6tWW5jTawM4oWLXUbJ949VhM4Q7PGg1V
                    token_name: "Degen Ape #4930"
                    update_authority: DC2mkgwhy56w3viNtHDjJQmc7SGu2QX785bS4aexojwX
                    collection_name: Degenerate Ape Academy
                    collection_tag: degenape
                    first_signature: 2SFBfFv98G6qjcyQBgDKiH6ZnYJz29zh9cDFk91feVymrGxUAqivm3A93wWJnPQ5umx5oeXuMCUCKM4szhNed9BJ
                    currency_symbol: SOL
                    sol_value: 62.0063
                    usd_value: 5435.31
                    exchange: Magic Eden
                    block_number: 132178671
                    block_timestamp: 2022-05-02T14:24:53.000Z
                  - mint_address: 62UfTSThs4bqsiCb65NEeqZ1ZRfmY5rHYFHxzJjiYZdy
                    token_name: "Degen Ape #2050"
                    update_authority: DC2mkgwhy56w3viNtHDjJQmc7SGu2QX785bS4aexojwX
                    collection_name: Degenerate Ape Academy
                    collection_tag: degenape
                    first_signature: QQeUHwH6iFe8aFpCf2kC6yPzakryHsC9Pmt1vwSuu1vJkCF6xcF4oMtaoZmXJQCTmtcRwooZK2o6Dkw8zLL3UvX
                    currency_symbol: SOL
                    sol_value: 65.0063
                    usd_value: 5755.39
                    exchange: Magic Eden
                    block_number: 132153051
                    block_timestamp: 2022-05-02T09:50:24.000Z
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Transactions by Collections
      tags:
      - Solana
  /data/sol/getTokenTransactions:
    post:
      description: Returns all transactions for a given token
      operationId: getSolTokenTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getSolTokenTransactions_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 5
                  total_pages: 1
                  page: 1
                  transactions:
                  - mint_address: B2V9GkXGEwmzZTHSMhLEC3NjjGHURrNNUgKioSDmTDQA
                    token_name: "DeGod #5644"
                    update_authority: AxFuniPo7RaDgPH6Gizf4GZmLQFc4M5ipckeeZfkrPNn
                    collection_name: DeGods
                    collection_tag: degods
                    first_signature: 4PQ8ygNHqaKc7e5TMaYRPZw9LQmARZzXHoktC6M424bT8FoQ8YVwK7V2vkvFsMPA4WKp7u4jMn2vCshyUh9c3hBk
                    sol_value: 0
                    usd_value: 18328.43
                    exchange: Magic Eden v2
                    block_number: 129015804
                    block_timestamp: 2022-04-10T01:09:22.000Z
                  - mint_address: B2V9GkXGEwmzZTHSMhLEC3NjjGHURrNNUgKioSDmTDQA
                    token_name: "DeGod #5644"
                    update_authority: AxFuniPo7RaDgPH6Gizf4GZmLQFc4M5ipckeeZfkrPNn
                    collection_name: DeGods
                    collection_tag: degods
                    first_signature: 58VUbprocvJc7fxq53mbcuLmzSToquZBaSMMJ8rWDVUrtqqJgQpFyN7pxXMgnv4N5yQSzamoTgBE9V4yCUTNzbxJ
                    sol_value: 0
                    usd_value: 7737.95
                    exchange: Magic Eden v2
                    block_number: 126256820
                    block_timestamp: 2022-03-23T06:48:10.000Z
                  - mint_address: B2V9GkXGEwmzZTHSMhLEC3NjjGHURrNNUgKioSDmTDQA
                    token_name: "DeGod #5644"
                    update_authority: AxFuniPo7RaDgPH6Gizf4GZmLQFc4M5ipckeeZfkrPNn
                    collection_name: DeGods
                    collection_tag: degods
                    first_signature: 3LVaQ4UfgJRPCSfQSVkzrSnp7pZfRGApTM1ybEFGNvsUBJYCJBKxgbWL88xj4QncyzKStYiBFSyrQZeAMK2GACEQ
                    sol_value: 0
                    usd_value: 3865.45
                    exchange: Magic Eden v2
                    block_number: 125534287
                    block_timestamp: 2022-03-18T14:59:11.000Z
                  - mint_address: B2V9GkXGEwmzZTHSMhLEC3NjjGHURrNNUgKioSDmTDQA
                    token_name: "DeGod #5644"
                    update_authority: AxFuniPo7RaDgPH6Gizf4GZmLQFc4M5ipckeeZfkrPNn
                    collection_name: DeGods
                    collection_tag: degods
                    first_signature: B1GREGDkLJeLNczsN9ueP4K475nHjz3gpu1bj8FxYcKqjUETAB3Q3zEW7Kcd14mtNfxMQ9D3GQcD8xYPfrbEnsM
                    sol_value: 0
                    usd_value: 817.98
                    exchange: Magic Eden v1
                    block_number: 118628281
                    block_timestamp: 2022-01-31T02:59:13.000Z
                  - mint_address: B2V9GkXGEwmzZTHSMhLEC3NjjGHURrNNUgKioSDmTDQA
                    token_name: "DeGod #5644"
                    update_authority: AxFuniPo7RaDgPH6Gizf4GZmLQFc4M5ipckeeZfkrPNn
                    collection_name: DeGods
                    collection_tag: degods
                    first_signature: 4wuJPrqqJhgXcxyyXEWwBUjhc9fLHwe6jwogzJCUrgeV7gAfu17mhSY62ai6WAA95WnduVMiWeTUEijmo4YYhDmB
                    sol_value: 0
                    usd_value: 1964.94
                    exchange: Alpha Art
                    block_number: 101110594
                    block_timestamp: 2021-10-12T16:32:43.000Z
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Transactions by Token
      tags:
      - Solana
  /data/sol/getAccountNFTs:
    post:
      description: Returns all tokens owned for a given wallet
      operationId: getSolAccountNFTs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getSolAccountNFTs_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                - key: 4
                  updateAuthority: 5Xsx3PU1APi7xwWXjvHhDymFPyLaYSGy1wjAQbMpJCHX
                  mint: 5gcjaKKFpcvBWoBMp9svQyz2X2SZAp1h5t8ie5wP7ZRs
                  data:
                    name: "Solander #3277"
                    symbol: ""
                    uri: https://arweave.net/hMOBh245uVIOdf7i3Jqib3aTiYeQGAIRo2SFMHqF320
                    sellerFeeBasisPoints: 1000
                    creators:
                    - address: 5Xsx3PU1APi7xwWXjvHhDymFPyLaYSGy1wjAQbMpJCHX
                      verified: 1
                      share: 100
                  primarySaleHappened: 1
                  isMutable: 0
                - key: 4
                  updateAuthority: 78kenD1C8YLAVEvVhJzZ7kaLWyRcfEYgNzW7kFGTKqTp
                  mint: 6mxLxe6wpVYYixwcov8xHJASYjY4RgZHYMEzjRbhRh7K
                  data:
                    name: "HOG #1225"
                    symbol: HOG
                    uri: https://arweave.net/m9KI415MJ2u5wD8KX5soQi73HVOrXyuZhuOUHQkDcXg
                    sellerFeeBasisPoints: 500
                    creators:
                    - address: HeQLHzLH3pKPCQyj2aJrYFLsWudeh1cy6pXn3WfGmS67
                      verified: 1
                      share: 0
                    - address: 9XPWP731BdKs5WzUpxPw7qWCTisZDZk7Pwd12t5dr1iv
                      verified: 0
                      share: 100
                  primarySaleHappened: 1
                  isMutable: 1
                - key: 4
                  updateAuthority: 4Fd5mgBEF3kHG5ok246HFpKeJuEiXzgF2GWmeb3YG7Ek
                  mint: 2J5B492wiKJ9Mb7TmNALQ2UC6Cx4Ks7erMcFK2RzNuDS
                  data:
                    name: "WOOFers #4443"
                    symbol: WFR
                    uri: https://arweave.net/UUFmfOammy20MSputaWqOtMttMryJTMMcJcLkop5tC4
                    sellerFeeBasisPoints: 500
                    creators:
                    - address: 2RGgEVqYWMXCNs2VwXhLYeNr6S76fmDdTv7DcrFYBXVn
                      verified: 1
                      share: 0
                    - address: B8EzoVbg9VbKvJYekgtkCLpJncv9hknZL2718uYrzBK3
                      verified: 0
                      share: 100
                  primarySaleHappened: 1
                  isMutable: 1
                - key: 4
                  updateAuthority: 4Fd5mgBEF3kHG5ok246HFpKeJuEiXzgF2GWmeb3YG7Ek
                  mint: BXM5ER7S8wfDW9JuiRpRVQuUQZfbH828qSmfuruQLA8w
                  data:
                    name: "WOOFers #2390"
                    symbol: WFR
                    uri: https://arweave.net/hJ7-fQWsVQdlZT01kJTuRC2qU8jJtnrVJUYlWFfeaXk
                    sellerFeeBasisPoints: 500
                    creators:
                    - address: 2RGgEVqYWMXCNs2VwXhLYeNr6S76fmDdTv7DcrFYBXVn
                      verified: 1
                      share: 0
                    - address: B8EzoVbg9VbKvJYekgtkCLpJncv9hknZL2718uYrzBK3
                      verified: 0
                      share: 100
                  primarySaleHappened: 1
                  isMutable: 1
                - key: 4
                  updateAuthority: 7f3HakYbNopgUkHHboqD9SKFdh8V9VXTFj93n67DKd8w
                  mint: BtGkpV3xp2yguUtUd6vRR9QzHYxSJksv1zdhNsN33NCF
                  data:
                    name: "MetaEggs City #115"
                    symbol: METAEGGS
                    uri: https://arweave.net/EYJm7MEBEDH1x2N2FEfDhjD7fehS1L9ZsQTCweYGyrI
                    sellerFeeBasisPoints: 800
                    creators:
                    - address: ATmGUonj53ZEXXoCXacBCSd4SE4UBf8AEno6GbWnMvUs
                      verified: 1
                      share: 0
                    - address: 7f3HakYbNopgUkHHboqD9SKFdh8V9VXTFj93n67DKd8w
                      verified: 0
                      share: 100
                  primarySaleHappened: 1
                  isMutable: 1
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Tokens Owned by Wallet
      tags:
      - Solana
  /data/sol/getNFTAccount:
    post:
      description: Returns all wallet owners for a given collection
      operationId: getSolNFTAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getSolNFTAccount_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  token_name: skelr
                  symbol: POWR
                  collection_name: Fractals
                  collection_tag: fractals
                  owner_address: 6CDuoSsn4ZRVvcBMdh9NEKkJebF3AFMdYTnPV4YrfEy6
                  token_account_address: 2qD4VsXEzE3cz8QvHzPeeHGaMAJBHsR4oGCb6XiLEYgi
                  fin_transactions:
                  - block_timestamp: 2021-12-31T19:07:21.000Z
                    currency_symbol: SOL
                    sol_value: 0.0714
                    usd_value: 12.22
                    exchange: Magic Eden
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Wallet Owners by Token
      tags:
      - Solana
  /data/sol/getMarketplaceData:
    post:
      description: Returns summary statistics for collections by marketplace
      operationId: getSolMarketplaceData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getSolMarketplaceData_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                - collection_tag: critters-cult
                  marketplaces:
                  - marketplace: Solanart
                    updated_at: 2022-10-26T18:34:01.698Z
                    stats_summary:
                      items: 5550
                      total_volume: 111470
                      floor_price: 9.2
                      currency: SOL
                  - marketplace: Magic_Eden
                    updated_at: 2022-10-26T18:34:01.698Z
                    stats_summary:
                      symbol: critters_cult
                      floorPrice: 9.55
                      listedCount: 649
                      avgPrice24hr: 11.227580645161291
                      volumeAll: 212830.250639258
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Collection Summary by Marketplace
      tags:
      - Solana
  /data/sol/getMarketplaceTraitData:
    post:
      description: Returns listing statistics for a collection by trait and marketplace
      operationId: getSolMarketplaceTraitData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getSolMarketplaceTraitData_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  collection_tag: portals
                  marketplaces:
                  - marketplace: Solanart
                    attributes:
                    - attribute: Unit Type
                      traits:
                      - trait: Ivory
                        updated_at: 2022-10-28T12:32:21.018Z
                        listed_items: 258
                        unlisted_items: 4242
                        floor_price: 19.95
                      - trait: Onyx
                        updated_at: 2022-10-28T12:32:21.023Z
                        listed_items: 29
                        unlisted_items: 396
                        floor_price: 99
                      - trait: Vision
                        updated_at: 2022-10-28T12:32:21.025Z
                        listed_items: 7
                        unlisted_items: 68
                        floor_price: 850
                  - marketplace: Magic_Eden
                    attributes: []
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Collection Listings by Trait & Marketplace
      tags:
      - Solana
  /data/sol/getCollectionTraits:
    post:
      description: Returns a list of traits for a given collection
      operationId: getSolCollectionTraits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getSolCollectionTraits_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                - Trait Count
                - Unit Number
                - Unit Type
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Traits by Collection
      tags:
      - Solana
  /data/sol/getHistoricalTransactions:
    post:
      description: Returns all transactions for a given collection in bulk
      operationId: getSolHistoricalTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getSolHistoricalTransactions_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 10
                  total_pages: 1
                  page: 1
                  mint_address:
                  - 9CcbDoenSF2xBi6pzWAzbK37GLaDa4CRBLXzDigGD82
                  - 2JKrCJMkNpL6EfEjCHuKcM55hqZgfCanmC8hpK4yWJqt
                  - Eh3yRBvVecs1E91W4udPU6iaFY7xkxMFfQ7HVhR7vANi
                  - CvjkQu1JdQAH6AZLriAHAi9oNHQL5ZcXnMcyPnhYEu5J
                  - 9kBEQ7acyPmS79zZ7Dt7RzaSqUa3L2Pbb3VsR133485y
                  - 3hjqyA1JivchTiPYcyhUpYDPhGQUvDa9VULjsDBGvooW
                  - CQVx5mjr2odpnLFsVPNEZRvzmXuEXjmux7vFYCf3udKg
                  - F7AV8iUC9FeYKu8uVBmZExwskJuGh8bu3p7KvJnKvJLj
                  - DwCS9jwYEV2b95jnViuceRJcKhzjGP8pbhGhC9s3sF29
                  - DAR8wC861Eea9F7ZeqtDWyAfJinMzjaqLQAzQLd8GTsN
                  token_name:
                  - ""
                  - ""
                  - ""
                  - ""
                  - ""
                  - ""
                  - ""
                  - ""
                  - ""
                  - ""
                  update_authority:
                  - 4T8p54CubXcqRpXNnL6Zb6kFf22y91WggrkyoZ9Vu9HU
                  - 4T8p54CubXcqRpXNnL6Zb6kFf22y91WggrkyoZ9Vu9HU
                  - 4T8p54CubXcqRpXNnL6Zb6kFf22y91WggrkyoZ9Vu9HU
                  - 4T8p54CubXcqRpXNnL6Zb6kFf22y91WggrkyoZ9Vu9HU
                  - 4T8p54CubXcqRpXNnL6Zb6kFf22y91WggrkyoZ9Vu9HU
                  - 4T8p54CubXcqRpXNnL6Zb6kFf22y91WggrkyoZ9Vu9HU
                  - 4T8p54CubXcqRpXNnL6Zb6kFf22y91WggrkyoZ9Vu9HU
                  - 4T8p54CubXcqRpXNnL6Zb6kFf22y91WggrkyoZ9Vu9HU
                  - 4T8p54CubXcqRpXNnL6Zb6kFf22y91WggrkyoZ9Vu9HU
                  - 4T8p54CubXcqRpXNnL6Zb6kFf22y91WggrkyoZ9Vu9HU
                  collection_name: Angelz Dao
                  collection_tag: angelzdao
                  from_address:
                  - 2H8iejHAb1sTnQatHiYfvxKqxWuiqtMYMDkqHMD9hAAz
                  - 2H8iejHAb1sTnQatHiYfvxKqxWuiqtMYMDkqHMD9hAAz
                  - 2H8iejHAb1sTnQatHiYfvxKqxWuiqtMYMDkqHMD9hAAz
                  - 2H8iejHAb1sTnQatHiYfvxKqxWuiqtMYMDkqHMD9hAAz
                  - 2H8iejHAb1sTnQatHiYfvxKqxWuiqtMYMDkqHMD9hAAz
                  - 2H8iejHAb1sTnQatHiYfvxKqxWuiqtMYMDkqHMD9hAAz
                  - 2H8iejHAb1sTnQatHiYfvxKqxWuiqtMYMDkqHMD9hAAz
                  - 2H8iejHAb1sTnQatHiYfvxKqxWuiqtMYMDkqHMD9hAAz
                  - 2H8iejHAb1sTnQatHiYfvxKqxWuiqtMYMDkqHMD9hAAz
                  - 2H8iejHAb1sTnQatHiYfvxKqxWuiqtMYMDkqHMD9hAAz
                  to_address:
                  - FGw6WhiPLET9XkEcPD2quCyJa8m528QFPM9cswQYKJn8
                  - FGw6WhiPLET9XkEcPD2quCyJa8m528QFPM9cswQYKJn8
                  - FGw6WhiPLET9XkEcPD2quCyJa8m528QFPM9cswQYKJn8
                  - FGw6WhiPLET9XkEcPD2quCyJa8m528QFPM9cswQYKJn8
                  - FGw6WhiPLET9XkEcPD2quCyJa8m528QFPM9cswQYKJn8
                  - FGw6WhiPLET9XkEcPD2quCyJa8m528QFPM9cswQYKJn8
                  - FGw6WhiPLET9XkEcPD2quCyJa8m528QFPM9cswQYKJn8
                  - FGw6WhiPLET9XkEcPD2quCyJa8m528QFPM9cswQYKJn8
                  - FGw6WhiPLET9XkEcPD2quCyJa8m528QFPM9cswQYKJn8
                  - FGw6WhiPLET9XkEcPD2quCyJa8m528QFPM9cswQYKJn8
                  first_signature:
                  - 4sSW2JY14uAAJ86LbhcEzoydTafpF6BKbgY6X9vubqDo41ZpgcAk1KyHC3qoQHSMjBJRFRCdsBsBXgKiY2vsT8v2
                  - 4AnKJceEaqZXdwFpmWsRUXp1Cs3hqRQ5xmaVsPnbMW2WCN38mfNXbAMdzHHKV93avzsXBJMWHzGo6bmg9VU8Civv
                  - 4LARRKsYsAQ1bMg5nNt82o3SDceQDRCzc6TKRzWHKTVBnJapWmnEjATNj1gKHFhNg7T5wwpDQPhamvX4wa5wkrKs
                  - 4uqU5KxZazGrBExB8rvent5iynKXwBUx2BcBtEYRB6a1X3p4cvhDGcpCcD3UP9qdazhbT9QwyDTpoQ6Tj5uqSzMU
                  - 2wri7kC8KhMsXBEyPPscE6qNWTCCxoXzgcTBvLi1p3KFqRYTsPUy1rQKJMicHJkEtrFCxoRBSbhAMVoL8FdAvMDm
                  - 5LgvQrjFcfL2d25dLLVvvzgDNojgnaprVbr3fJCSbaJBtkoa2yhjAHZkdGo9fFp4yuwpVQWPGPtrqk5i6wSnLH78
                  - 314Veijyo11gMKUqvXxFgh1g3Y7NEZXTeRhDzUnkTzMUuhjHp9EchGgBW2hrmx9waitv7NUwPkpRVVVF4sdRJUaP
                  - 5nKMK6h26ZhNQRe5Yd1i4Gi75yFsMvPdu2j6f3VSEA9qYzfZX7tCwczRpyWKCgyrVPh9v8GoPgci3iWf6S2xZYbg
                  - 2hF4neLwYjfozkCVDm5tJCTbo1v7eh8qMcU19vPxu3v2V8Kmrpf1JjBQ1bo8WSx6jcqmnistZzNzRzmdbkrUiC5a
                  - 4tWbLdY8HeAVC1dzD4xjnqSw2M5MFpi5NrShY7xKoS94cW9AmvBV2UcgF6pdcKBATNydFH9sT78DgztzS2GpL5VH
                  sol_value:
                  - 0.0073
                  - 0.0073
                  - 0.0073
                  - 0.0073
                  - 0.0073
                  - 0.0073
                  - 0.0073
                  - 0.0073
                  - 0.0073
                  - 0.0073
                  usd_value:
                  - 0.32
                  - 0.32
                  - 0.32
                  - 0.32
                  - 0.32
                  - 0.32
                  - 0.32
                  - 0.32
                  - 0.32
                  - 0.31
                  exchange:
                  - Magic Eden
                  - Magic Eden
                  - Magic Eden
                  - Magic Eden
                  - Magic Eden
                  - Magic Eden
                  - Magic Eden
                  - Magic Eden
                  - Magic Eden
                  - Magic Eden
                  block_number:
                  - 142183700
                  - 142183695
                  - 142183695
                  - 142183695
                  - 142183695
                  - 142183695
                  - 142183695
                  - 142183695
                  - 142183695
                  - 142095552
                  block_timestamp:
                  - 2022-07-19T05:08:12.000Z
                  - 2022-07-19T05:08:09.000Z
                  - 2022-07-19T05:08:09.000Z
                  - 2022-07-19T05:08:09.000Z
                  - 2022-07-19T05:08:09.000Z
                  - 2022-07-19T05:08:09.000Z
                  - 2022-07-19T05:08:09.000Z
                  - 2022-07-19T05:08:09.000Z
                  - 2022-07-19T05:08:09.000Z
                  - 2022-07-18T13:02:20.000Z
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Historical Transactions by Collection
      tags:
      - Solana
  /data/sol/getMarketplaceFloorPrice:
    post:
      description: Returns current floor price for all collections by marketplace
      operationId: getSolMarketplaceFloorPrice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getSolMarketplaceFloorPrice_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 3
                  total_pages: 1
                  page: 1
                  collections:
                  - collection_tag: 3d-anon
                    marketplaces:
                    - updated_at: 2022-12-23T04:30:10.407
                      floor_price: 15
                      marketplace: Solanart
                      collection_id: 3d-anon
                  - collection_tag: 4x4
                    marketplaces:
                    - updated_at: 2022-11-05T20:48:56.831
                      floor_price: 35
                      marketplace: Magic_Eden
                      collection_id: 4x4
                    - updated_at: 2023-01-16T13:43:12.938
                      floor_price: 80.69
                      marketplace: Solanart
                      collection_id: 4x4
                  - collection_tag: 6rings
                    marketplaces:
                    - updated_at: 2023-01-16T13:16:54.568
                      floor_price: 20
                      marketplace: Solanart
                      collection_id: 6rings
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Marketplace Floor Price by Collection
      tags:
      - Solana
  /data/pol/getCollections:
    post:
      description: Returns all Gallop aggregated collections
      operationId: getPolCollections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getPolCollections_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 7
                  total_pages: 1
                  page: 1
                  collections:
                  - collection_name: Auuuapp
                    symbol: ""
                    collection_address: 0xdf4fc6ec895f7635001b428437405bb96412c6cf
                  - collection_name: auxe777.lens-Follower
                    symbol: auxe-Fl
                    collection_address: 0x9b2181fce8c1138ba3939bbc72d32f0cd3277845
                  - collection_name: Auxiliary ladder
                    symbol: null
                    collection_address: 0xed9ce23c94898b78b7213bd49e878b9d9859a71a
                  - collection_name: Aux Legends
                    symbol: Al
                    collection_address: 0x106a813852070d34da8690c4c3b1b9536ca46980
                  - collection_name: AV
                    symbol: AV
                    collection_address: 0x0955e91d5a71bbc3d846138ffc7633762edb3cf0
                  - collection_name: av666
                    symbol: null
                    collection_address: 0x61c30e04fe4035a0e133a6879e9f85e758882b58
                  - collection_name: av8dhi.lens-Collect-1
                    symbol: av8d-Cl-1
                    collection_address: 0xf1532ca55cd7355034dc07d6f0426874165046d2
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Aggregated Collections Supported by Gallop
      tags:
      - Polygon
  /data/pol/getCollectionTransactions:
    post:
      description: Returns all transactions for a given collection
      operationId: getPolCollectionTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getPolCollectionTransactions_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 4
                  total_pages: 1
                  page: 1
                  transactions:
                  - collection_address: 0x0833566d5c6926ba123f6587fb16ff4aa8d7680b
                    collection_name: Prime Ape Planet
                    token_id: "78"
                    from_address: 0x2814045419933db0eafad825fd52bfd57593f861
                    to_address: 0x6b671cfa2619790c861fd3b4b3cb3ae5a78ee3fc
                    eth_value: 1.0E-4
                    matic_value: 0.25
                    usd_value: 0.19
                    exchange: Element
                    block_number: 33709197
                    block_timestamp: 2022-09-29T10:17:20.000Z
                    txn_hash: 0xc52ca26b7c2d4730e65e5603b1b5634f355a3bfc6f929b8a4b80ce1855c9264a
                    token_amount: 1
                  - collection_address: 0x0833566d5c6926ba123f6587fb16ff4aa8d7680b
                    collection_name: Prime Ape Planet
                    token_id: "61"
                    from_address: 0x2814045419933db0eafad825fd52bfd57593f861
                    to_address: 0x58ace4fe551061ab8b7e10b2fb4b3d92abaa0699
                    eth_value: 2.0E-4
                    matic_value: 0.3
                    usd_value: 0.23
                    exchange: Element
                    block_number: 33419875
                    block_timestamp: 2022-09-22T09:44:08.000Z
                    txn_hash: 0xe45d5c3a870c90c070060de03868b3ced0bab5fe76eab0aaab0a3c768fc9222d
                    token_amount: 1
                  - collection_address: 0x0833566d5c6926ba123f6587fb16ff4aa8d7680b
                    collection_name: Prime Ape Planet
                    token_id: "75"
                    from_address: 0x2814045419933db0eafad825fd52bfd57593f861
                    to_address: 0xb48060cf0d2a225597eb1d0681bf25e8175f4594
                    eth_value: 2.0E-4
                    matic_value: 0.33
                    usd_value: 0.27
                    exchange: Element
                    block_number: 32837761
                    block_timestamp: 2022-09-08T07:49:27.000Z
                    txn_hash: 0xcd62696a98fb770b2920fab470521519497c1a8da90f7651a3b3d03a629b82cc
                    token_amount: 1
                  - collection_address: 0x0833566d5c6926ba123f6587fb16ff4aa8d7680b
                    collection_name: Prime Ape Planet
                    token_id: "38"
                    from_address: 0x2814045419933db0eafad825fd52bfd57593f861
                    to_address: 0xb49bf6716a8eb994c313616a09f1c98bcfc6c219
                    eth_value: 3.0E-4
                    matic_value: 0.5
                    usd_value: 0.41
                    exchange: Element
                    block_number: 32405866
                    block_timestamp: 2022-08-28T07:42:46.000Z
                    txn_hash: 0xffc680b14bfeb17d8cc8eceb3a05b94d6b02e1291ccca655e5bb8ebbbc658e54
                    token_amount: 1
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Transactions by Collection
      tags:
      - Polygon
  /data/pol/getTokenTransactions:
    post:
      description: Returns all transactions for a given token
      operationId: getPolTokenTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getPolTokenTransactions_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 1
                  total_pages: 1
                  page: 1
                  collection_address: 0x78306a498516d75a76beeacea04fe772d20fe41b
                  collection_name: RichGoatClub
                  transactions:
                  - token_id: "4676"
                    from_address: 0x9ccb028dc63668348a4a6244e3caeaa9b20dc349
                    to_address: 0x88cf00c11883db002382e67527f1b8b1b5e6adad
                    eth_value: 5.0E-4
                    matic_value: null
                    usd_value: 1.97
                    exchange: Opensea - 0x Fee Wrapper
                    block_number: 22731129
                    block_timestamp: 2021-12-20T01:40:02.000Z
                    txn_hash: 0x000000c709301af3a511526ce0269e2039ee1c4045f895685dcafcf459870390
                    token_amount: 1
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Transactions by Token
      tags:
      - Polygon
  /data/pol/getTokens:
    post:
      description: Returns all tokens for a given collection
      operationId: getPolTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getPolTokens_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 3
                  total_pages: 1
                  page: 1
                  tokens:
                  - token_id: "100002886434130225330"
                    token_name: Stakes Sterling Silver Ring - For being a Stakes OG
                      (Edition 2974 of 13394)
                    collection_address: 0xbc5d4fa15fe8d7b94aaf3b4b4486b9516198e6d0
                    description: NFT Pioneer Trophy from Stakes
                    collection_uri: https://playwithstakes.com/
                    image_uri: https://ipfs.io/ipfs/bafybeigsiigsaydtghtt2cv2tgxublopalvlbmcqnoyvvjgdpauu2uokqa
                    attributes:
                    - value: 2974
                      trait_type: Serial Number
                      display_type: number
                    - value: Common
                      trait_type: Rarity
                  - token_id: "100024723209216959327"
                    token_name: Stakes Sterling Silver Ring - For being a Stakes OG
                      (Edition 3434 of 13394)
                    collection_address: 0xbc5d4fa15fe8d7b94aaf3b4b4486b9516198e6d0
                    description: NFT Pioneer Trophy from Stakes
                    collection_uri: https://playwithstakes.com/
                    image_uri: https://ipfs.io/ipfs/bafybeigsiigsaydtghtt2cv2tgxublopalvlbmcqnoyvvjgdpauu2uokqa
                    attributes:
                    - value: 3434
                      trait_type: Serial Number
                      display_type: number
                    - value: Common
                      trait_type: Rarity
                  - token_id: "100028330081006549736"
                    token_name: Stakes Sterling Silver Ring - For being a Stakes OG
                      (Edition 4471 of 13394)
                    collection_address: 0xbc5d4fa15fe8d7b94aaf3b4b4486b9516198e6d0
                    description: NFT Pioneer Trophy from Stakes
                    collection_uri: https://playwithstakes.com/
                    image_uri: https://ipfs.io/ipfs/bafybeigsiigsaydtghtt2cv2tgxublopalvlbmcqnoyvvjgdpauu2uokqa
                    attributes:
                    - value: 4471
                      trait_type: Serial Number
                      display_type: number
                    - value: Common
                      trait_type: Rarity
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Tokens by Collection
      tags:
      - Polygon
  /data/pol/getCollectionTraits:
    post:
      description: Returns a list of traits for a given collection
      operationId: getPolCollectionTraits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getPolCollectionTraits_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                - Trait Count
                - super_coat
                - birthday
                - gender
                - genotype
                - breed_type
                - bloodline
                - coat_color
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Traits by Collection
      tags:
      - Polygon
  /data/pol/getWalletNFTs:
    post:
      description: Returns all tokens owned for a given wallet
      operationId: getPolWalletNFTs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getPolWalletNFTs_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                - token_id: "5324"
                  collection_name: CrazySkullz
                  collection_address: 0x3a4cA1c1bB243D299032753fdd75e8FEc1F0d585
                  image_url: https://ipfs.io/ipfs/QmbgnNyjov98LjEZYD3Un3fgomaWV4YUpnLfBdqdu5GEMB/CrazySkull%235325.jpg
                  traits:
                  - type: Accessory
                    value: Fruit Ice Cream
                  - type: Background
                    value: Red
                  - type: Eyes
                    value: Hazel Eyes
                  - type: Head
                    value: Green Stripes Beanie
                  - type: Main Skull
                    value: Gold Evil Skull
                  - type: Mustache
                    value: None
                  - type: Sunglasses
                    value: None
                - token_id: "1534"
                  collection_name: MineNationsNFT
                  collection_address: 0x5B97353bB450c2CC0D91C681bf6102166A7465C9
                  image_url: null
                  traits: []
          description: An object containing the tokens owned by this wallet
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Tokens Owned by Wallet
      tags:
      - Polygon
  /data/pol/getCollectionOwners:
    post:
      description: Returns all wallet owners for a given collection
      operationId: getPolCollectionOwners
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getPolCollectionOwners_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                  total_items: 10
                  total_pages: 1
                  page: 1
                  owners:
                  - token_id: "1"
                    wallet_address: 0x149fd2056b0b85d33bf600a53bd4151c9e9afd94
                    amount_owned: 1
                  - token_id: "2"
                    wallet_address: 0x62d910bc25412707657411e0e67910c9035a8dfb
                    amount_owned: 1
                  - token_id: "3"
                    wallet_address: 0x3bc956527d435d2ab9904540fe7de6f02464a142
                    amount_owned: 1
                  - token_id: "4"
                    wallet_address: 0xe32c4c0cb5cd8524e66ecd08cde74fe4dec1d420
                    amount_owned: 1
                  - token_id: "5"
                    wallet_address: 0x010c02ac7d0171bad6ada7ef12ae093981d3bb32
                    amount_owned: 1
                  - token_id: "6"
                    wallet_address: 0x1c5dd175666c1e08579982071c11cca8a9809911
                    amount_owned: 1
                  - token_id: "7"
                    wallet_address: 0xc5dbf7e2d737aab4247351c9797e8cf43f4ab2b8
                    amount_owned: 1
                  - token_id: "8"
                    wallet_address: 0x1c5dd175666c1e08579982071c11cca8a9809911
                    amount_owned: 1
                  - token_id: "9"
                    wallet_address: 0xe32c4c0cb5cd8524e66ecd08cde74fe4dec1d420
                    amount_owned: 1
                  - token_id: "10"
                    wallet_address: 0xb436656d158959614c261f061dc2082e7861504c
                    amount_owned: 1
          description: OK
        "400":
          description: Bad request
        "403":
          description: Unauthorized
      security:
      - api_key: []
      summary: Wallet Owners by Collection
      tags:
      - Polygon
  /data/pol/getMarketplaceData:
    post:
      description: Returns summary statistics for collections by marketplace
      operationId: getPolMarketplaceData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getPolMarketplaceData_request'
      responses:
        "200":
          content:
            application/json:
              example:
                status: 200
                response:
                - collection_address: 0x3cd41ec039c1f2dd1f76144bb3722e7b503f50ab
                  marketplaces:
                  - marketplace: OpenSea
                    stats_summary:
                      average_price: 0.5866451431749673
                      count: 2775
                      floor_price: 0.04
                      market_cap: 490.25
                      num_owners: 903
                      num_reports: 1
                      one_day_average_price: 0.25
                      one_day_change: 0
                      one_day_difference: 0.5
                      one_day_sales: 2
                      one_day_sales_change: 2
                      one_day_volume: 0.5
                      one_hour_average_price: 0
                      one_hour_change: 0
                      one_hour_difference: 0
                      one_hour_sales: 0
                      one_hour_sales_change: 1
                      one_hour_volume: 0
                      seven_day_average_price: 0.17666666666666667
                      seven_day_change: -0.7282051282051282
                      seven_day_difference: -1.42
                      seven_day_sales: 3
                      seven_day_volume: 0.53
                      six_hour_average_price: 0.35
                      six_hour_change: 0
                      six_hour_difference: 0.35
                      six_hour_sales: 1
                      six_hour_sales_change: 1
                      six_hour_volume: 0.35
                      thirty_day_average_price: 0.2887534117647059
[...]
